{% extends 'base.html' %}

{% block introduction %}
<h2 style="font-size:80%;">Version 0.7.0a1</h2>
<br>
Welcome to a faction selection tool for Twilight Imperium 4!
In this page you can set up a game. A unique game ID will be created for you, which you can share with your friends. Each player is asked to select factions they would like to play. Results will be sent via email (from ti4chooseafaction@gmail.com) to each player.
<br><br>
At the current version, factions will be dealt randomly, but later on you can affect the outcome by selecting which factions you'd prefer not to be in the game.
<br>
{% endblock %}

{% block button %}<button type="submit">Next</button>{% endblock %}
